.box{
    display: inline-block;
    background-color: #3A4042;
    width: 600px;
    height: 170px;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    padding: 42px 0;
    margin-left: 20px;
}

.box .title{
    margin-bottom: 30px;
}