
header{
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

nav{
    text-align:right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 25px;
    font-family: "Redressed", sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;

}
a::before{
    content: "";
    background-color: #725A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover{
    opacity: 0.6;
}

#DowCV{
    display:inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px;
    margin-right: 0;
}
#DowCV:hover{
    opacity: 0.6;
}
