.main-box
  { 
    display: inline-block;
    background-color: #48525B;
    box-shadow: 10px 10px 3px black;
    border-radius: 3px;
    text-align: center;
    padding: 42px 44px;
  }

  .main-box .main-title
  {
    margin-bottom: 28px;
  }