.main-title
{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    text-shadow: 5px 5px 2px #292929;
    padding-bottom: 30px;
}

.main-title.-second
{
    font-size: 35px;
    text-shadow: none;
    text-align: center;
}