.node-card
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before
{
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed black;
    transform: rotate(90deg) translateX(-62%);
    bottom: 140px;
}

.node-card .title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    font-weight: 400;
    color: #394046;
    margin-bottom: 50px;
}

.node-card .logo
{
    display: flex;
    align-items:center;
    height: 140px;
    border:5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #394046;
}