
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Press+Start+2P&display=swap');

.logo
{
    width: 60px;
    height: 70px;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

body
{
    background-image: url(/assets/img/fundo.jpg);
    background-size: cover;
}

nav
{
    text-align:right;
}

a
{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 22px;
    font-family: 'Architects Daughter', cursive;
    font-weight:bold;
    text-decoration: none;
    margin-right: 30px;
}

a::before
{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
