.title
{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    text-shadow: 5px 5px 2px #292929;
}

.subtitle
{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #292929;
    text-shadow: 5px 3px 3px #000;
}